<p>I attempt to explain the full picture of world phenomena regarding several topics.</p>
<p>We can start with crises, where researchers often divide them into economic and financial crises.</p>
<p>Then, we can delve into the specific types of financial crises. Economic crisis topics might also be intriguing!</p>

<div class="article_title header_pink">
  <h2><a href="https://dimasmukhlas.com/blog/tag/resilient/" target="_self">Economic Crises</a></h2>
</div>
<div class="category_article_wrapper">
  <div class="row">
    <div class="col-md-6">
      <div class="category_article_body">
        <div class="top_article_img">
          <div id="video" class="videoWrapper">
            <iframe width="300" height="169" src="https://www.youtube.com/embed/DOcNjVNFKfI?si=G0Jz_RMaEsx3J0ni" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
        <span class="tag pink"><a href="{% url 'home' %}" target="_self">What is it?</a></span>
        <div class="category_article_title">
          <h2><a href="https://dimasmukhlas.com/blog/welcome-to-the-research-preset-project/" target="_self">What is economic crisis</a></h2>
        </div>
        <div class="article_date"><a href="#">23 Aug 2023</a>, by <a href="#">Dimas Widiantoro</a></div>
        <div class="category_article_content">Economic crises are different from financial crises. Let's see what they are.</div>
        <div class="media_social">
          <span><a href="#">24 Shares</a></span>
          <span><i class="fa fa-comments-o"></i><a href="#">4 Comments</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="category_article_body">
        <div class="top_article_img">
          <div id="video" class="videoWrapper">
            <iframe width="300" height="169" src="https://www.youtube.com/embed/_nTfRL_Awn0?si=kIMp0ShFfUfjUBwd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
        <span class="tag pink"><a href="{% url 'home' %}" target="_self">Category of economic crises</a></span>
        <div class="category_article_title">
          <h2><a href="https://dimasmukhlas.com/blog/how-to-prepare-panel-data-in-stata/" target="_self">How to prepare panel data in Stata</a></h2>
        </div>
        <div class="article_date"><a href="#">26 Aug 2023</a>, by Dimas Widiantoro</div>
        <div class="category_article_content">Economic crises come in different forms and can be viewed differently.</div>
        <div class="media_social">
          <span><a href="#"><i class="fa fa-share-alt"></i>424 Shares</a></span>
          <span><i class="fa fa-comments-o"></i><a href="#">4 Comments</a></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="category_article_body">
        <div class="top_article_img">
          <div id="video" class="videoWrapper">
            <iframe width="300" height="169" src="https://www.youtube.com/embed/p09IYmN9LvA?si=BkV7huY6q8Ih0lj5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
        <span class="tag pink"><a href="{% url 'home' %}" target="_self">Preset-example</a></span>
        <div class="category_article_title">
          <h2><a href="https://dimasmukhlas.com/blog/how-to-deal-with-unbalanced-panel-data/" target="_self">How to deal with unbalanced panel data</a></h2>
        </div>
        <div class="article_date"><a href="#">23 Aug 2023</a>, by <a href="#">Dimas Widiantoro</a></div>
        <div class="category_article_content">Unbalanced data can cause biased results and anomalies. Learn how to handle it in this preset.</div>
        <div class="media_social">
          <span><a href="#">24 Shares</a></span>
          <span><i class="fa fa-comments-o"></i><a href="#">4 Comments</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="category_article_body">
        <div class="top_article_img">
          <div id="video" class="videoWrapper">
            <iframe width="300" height="169" src="https://www.youtube.com/embed/UV5_v_4eXek?si=0YojWcgx7feMpD6k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
        <span class="tag pink"><a href="{% url 'home' %}" target="_self">Preset-example</a></span>
        <div class="category_article_title">
          <h2><a href="https://dimasmukhlas.com/blog/how-to-use-if-expression-in-stata-and-whats-for/" target="_self">How to use if expression in Stata</a></h2>
        </div>
        <div class="article_date"><a href="#">26 Aug 2023</a>, by Dimas Widiantoro</div>
        <div class="category_article_content">The "if" expression is powerful in programming. Learn how to use it in Stata.</div>
        <div class="media_social">
          <span><a href="#"><i class="fa fa-share-alt"></i>424 Shares</a></span>
          <span><i class="fa fa-comments-o"></i><a href="#">4 Comments</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="article_title header_pink">
  <h2><a href="https://dimasmukhlas.com/blog/tag/resilient/" target="_self">Financial Crises</a></h2>
</div>
<div class="category_article_wrapper">
  <div class="row">
    <div class="col-md-6">
      <div class="category_article_body">
        <div class="top_article_img">
          <a href="https://dimasmukhlas.com/blog/how-resilient-and-countercyclical-the-emerging-economies-during-the-global-financial-crisis-2008/" target="_self">
            <img class="img-responsive" src="https://dimasmukhlas.com/static/media/uploads/dimasmukhlas-macroprudential/beige_vintage_novel_book_cover.png" alt="feature-top" />
          </a>
        </div>
        <span class="tag pink"><a href="{% url 'home' %}" target="_self">Empirical-research</a></span>
        <div class="category_article_title">
          <h2><a href="https://notafra.id/blog/tag/travel/" target="_self">What is financial crisis?</a></h2>
        </div>
        <div class="article_date"><a href="#">10 Oct 2022</a>, by Didier et al., rewritten by Dimas Mukhlas</div>
        <div class="category_article_content">Emerging economies have shown resilience during the Global Financial Crisis. Discover how and why.</div>
        <div class="media_social">
          <span><a href="#">24 Shares</a></span>
          <span><i class="fa fa-comments-o"></i><a href="#">4 Comments</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="category_article_body">
        <div class="top_article_img">
          <a href="{% url 'home' %}" target="_self">
            <img class="img-responsive" src="https://dimasmukhlas.com/static/media/uploads/PageThumbnail/1.jpg" alt="feature-top" />
          </a>
        </div>
        <span class="tag pink"><a href="{% url 'home' %}" target="_self">Empirical-research</a></span>
        <div class="category_article_title">
          <h2><a href="https://dimasmukhlas.com/blog/what-is-the-global-financial-crisis-2008/" target="_self">What is the Global Financial Crisis of 2008?</a></h2>
        </div>
        <div class="article_date"><a href="#">26 Aug 2023</a>, by Dimas Widiantoro</div>
        <div class="category_article_content">The Global Financial Crisis of 2008 had profound effects on the world economy. Learn more about it here.</div>
        <div class="media_social">
          <span><a href="#"><i class="fa fa-share-alt"></i>424 Shares</a></span>
          <span><i class="fa fa-comments-o"></i><a href="#">4 Comments</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
